extends ../layout
block content
    h1 Registro de usuario
    #caja.caja-sign
        label Email:
            input(type="email")
        label Contraseña:
            input(type="password")
        label Repetir:
            input(type="password")